{{ define "main" }}
<div class="list">
  {{ $posts := where .Site.RegularPages "Section" "post" }}
  {{ $paginator := .Paginate $posts }}
  {{ range $paginator.Pages }}
  
    <div class="listItem" onclick="location.href='{{ .Permalink }}'">
      
      <img
        src={{
        .Params.image
        }}
        alt="{{.Title}}"
        class="listItemImage"
        loading="lazy"
      />
      <div class="listItemTexts">
        <h1 class="listItemTitle">
          <a href="{{.Permalink}}">{{.Title}}</a>
        </h1>
        <time>{{ dateFormat .Site.Params.dateFormat  .Date}}</time>
        <p class="listItemDesc">{{.Params.description}}</p>
        <div class="listItemDetail">
          {{ $avatars := .Params.avatar }}
          {{ range $index, $term := .GetTerms "authors" }}
            <img src="{{ index $avatars $index }}" loading="lazy" alt="" class="listItemAvatar"/>
            <span>
              
              <a href="{{ $term.Permalink }}">{{ $term.Name }}</a>

            </span>
          {{ end }}
        </div>
        <div class="listItemCategories">
          {{ $categories := .GetTerms "categories" }}
          {{ $count := len $categories }}

          {{ range first 4 $categories }}
            <a class="listItemCategory" href="{{ .Permalink }}">#{{ .Name }}</a>
          {{ end }}

          {{ if gt $count 4 }}
            <span class="listItemCategory more-categories">…</span>
          {{ end }}
        </div>

      </div>

    </div>
  
  {{ end }} {{ template "_internal/pagination.html" . }}
</div>

{{ end }}