{{ define "main" }}
<div>
      <div class="profile-cover">
        <img src="/images/minecraft.png" alt="tung09hcm" loading="lazy">
        <div class="profile-avatar">
           <img src="/images/hecker.jpg" alt="tung09hcm" loading="lazy">
        </div>
      </div>

      <div class="listItemTexts">
        <h1 class="listItemTitle">
          <a href="/about/">Bùi Thanh Tùng</a>
          <div class="listItemCategories">

          <a class="listItemCategory" href={{ .Permalink }}>Youtube</a>
          <a class="listItemCategory" href={{ .Permalink }}>Linkedin</a>
          <a class="listItemCategory" href={{ .Permalink }}>Facebook</a>
          <a class="listItemCategory" href={{ .Permalink }}>X</a>
          
        </div>
        <div class="listItemDetail">
            Ho Chi Minh University of Technology
        </div>
        </h1>
        <p class="listItemDesc">A third-year developer at Ho Chi Minh University of Technology, majoring in Software Development</p>
        
        
      </div>

</div>
{{ end }}